<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <title>Library Catalog</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div th:replace="base :: navlinks"></div>

<center>
    <form action="#"  th:action="@{/process2}" th:object="${process2}" method="post">
        <table>
            <tr>
                <td><input   class="form-control" type="text" name="search" /></td>
                <td>
                    <input class="btn" type="submit" value="Library Search" />
                </td>
            </tr>
        </table>
    </form>
</center>

<table class="table table-borderless" style="margin-top: 50px">
    <tr>
        <th>Category</th>
        <th>Title</th>
        <th>Description</th>
        <th>Author/Artist</th>
        <th>Year Released</th>
        <th>Genre</th>
        <th>Call Number</th>
        <!--<th>Cost</th>-->
        <th>Action</th>
        <!--<th>Available</th>-->
        <!--<th>Due Date</th>-->

    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.category}"></td>
        <td th:text="${product.title}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.author_artist}"></td>
        <td th:text="${product.yearreleased}"></td>
        <td th:text="${product.genre}"></td>
        <td th:text="${product.callnumber}"></td>
        <!--<td th:text="${product.cost}"></td>-->
        <!--<td th:text="${product.available}"></td>-->
        <!--<td th:text="${product.duedate}"></td>-->



        <td>
            <a th:href="@{/update/{id}(id=${product.id})}">Update</a>   -
            <a th:href="@{/detail/{id}(id=${product.id})}">Details</a>  -
            <a th:href="@{/delete/{id}(id=${product.id})}">Delete</a>
        </td>
    </tr>
</table>

</body>
</html>