<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <title>Library Catalog</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div th:replace="base :: navlinks"></div>



<table class="table table-borderless" style="margin-top: 50px">
    <tr>
        <th>Category</th>
        <th>Title</th>
        <th>Description</th>
        <th>Author/Artist</th>
        <th>Year Released</th>
        <th>Genre</th>
        <th>Call Number</th>
        <th>Available</th>
        <!--<th>Checked Out</th>-->
        <!--<th>Due Date</th>-->

    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.category}"></td>
        <td th:text="${product.title}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.author_artist}"></td>
        <td th:text="${product.yearreleased}"></td>
        <td th:text="${product.genre}"></td>
        <td th:text="${product.callnumber}"></td>
        <td th:text="${product.available}"></td>

    </tr>
</table>

</body>
</html>